@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Inter', sans-serif;
  color-scheme: dark;
}

body {
  background-color: #121214 ;
}

a,
svg {
  transition: .4s;
}

a:hover,
svg:hover {
  color: #FDCC49;
}

.menu-animation {
  animation: slideFromRight 0.5s ease-out forwards
}

@keyframes slideFromRight{
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}