@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Inter', sans-serif;
  color-scheme: dark;
}

body {
  background-color: #121214 ;
}

a,
svg {
  transition: .4s;
}

a:hover,
svg:hover {
  color: #FDCC49;
}

.section-wrapper {
  margin-top: 8rem;
  margin-left: 1.25rem;
}

.text-heading {
  font-size: 2rem;
  color: #FDCC49;
  font-weight: 600;
}

.subtext {
  font-size: 1.6rem;
  color: #FDCC49;
  font-weight: 600;
}

body::-webkit-scrollbar {
  width: 8px;             
}

body::-webkit-scrollbar-track {
  background:#121214;        
}

body::-webkit-scrollbar-thumb {
  background-color: #121214;    
  border-radius: 20px;       
  border: 2px solid #5c1210;  
}

.menu-animation {
  animation: slideFromRight 0.5s ease-out forwards
}

@keyframes slideFromRight{
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}